body {
  background-image: url(../img/bg-green.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.jumbotron {
  min-height: 800px;
  background-image: url(../img/pantai2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0px;
}

.jumbotron .container {
  margin-top: 150px;
}

.jumbotron img {
  width: 290px;
}

.walimatul {
  margin-top: 30px;
  margin-bottom: 30px;
  border: solid 5px #fabe63;
  border-radius: 35px;
  color: #fabe63;
}

.jumbotron p {
  font-weight: lighter;
  color: white;
  margin-bottom: 40px;
}

.jumbotron i {
  color: #fabe63;
}

.arrow {
  z-index: 1;
  position: relative;
  width: 180px;
  height: 180px;
  border: solid 20px white;
  background-color: #a0e7e5;
  margin-top: -60px;
  margin-bottom: -80px;
  text-align: center;
  padding-top: 40px;
}

section {
  min-height: 600px;
  margin-bottom: 70px;
}

section h1 {
  font-family: "Montserrat", sans-serif;
}

section hr {
  width: 200px;
  border: 1px solid rgb(41, 41, 41);
}

#pengantin .nama {
  background-image: linear-gradient(90deg, #a0e7e5, #ffaebc);
  padding: 20px;
}

#pengantin .nama .garis {
  border: double 2px white;
  padding-top: 100px;
  padding-bottom: 80px;
}

#pengantin h1 {
  font-family: "Parisienne", cursive;
  font-weight: bold;
  font-size: 45px;
  color: white;
}

#pengantin img {
  margin-top: 40px;
  margin-bottom: 40px;
}

#pengantin p {
  color: white;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

#timeandplace .row {
  padding: 20px;
}

#timeandplace .time,
.place {
  background-color: #f8bcc6;
  margin-top: 40px;
  border-radius: 20px;
  padding: 20px;
}

#timeandplace .logo {
  width: 80px;
  height: 80px;
  background-color: white;
}

#timeandplace i {
  color: #fabe63;
}

#timeandplace .content {
  color: rgb(49, 49, 49);
}

#timeandplace .content p {
  font-size: 20px;
}

#timeandplace .content .countdown {
  border: 3px solid #be9049;
  padding-top: 20px;
  color: #be9049;
}

.place img {
  border-radius: 25px;
}

#note .content {
  margin-top: 40px;
}

#note p {
  font-size: 20px;
  text-align: justify;
  font-family: "Montserrat", sans-serif;
  line-height: 26pt;
}
